<div class="text-center">

    <h1 class="text-info">Order Confirmation</h1>

    <p>We have recieved your order and we'll deliver your order shortly!</p>

    <img src="/img/Thankyou.png" width="70%" height="60%" />
</div>