@{
    ViewData["Title"] = "About Us";
}

<style>
    .AboutUs {
        text-align: center;
    }
</style>

<div class="AboutUs">
    <h1>About Us</h1>
    <p>
        SnatchFood is a web application that allows customers to buy food online.
        This makes it more convenient for them and safer than traveling from a distance.
        SnatchFood is easy and convenient to use. The website can easily be understood, and the way it's designed is
        user-friendly. The application portrays different food categories from different restaurants and fast-food chains.
        The application allows the user to save their favorite food for future purposes through my cart section and allows
        the buyer to choose whether they will pay through a credit card or cash on delivery.
    </p>

    <img src="/img/AbtUs.png" height="500" width="750" />
    
</div>

