@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url("/img/DeliveryPhoto.png");
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to SnatchFood!</h1>
    <br />
    <h2>Food Delivery at your service!</h2>
    <br />
    <p>We will serve your food as fast as possible! Register now so you can start snatching your food!</p>
</div>
