@{
    ViewData["Title"] = "Main Page";
}
<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
</header>
<style>


    .fcat {
        text-align: center;
        font-family: 'BIZ UDPMincho', serif;
    }
    

</style>

<div class="fcat">
    <h1 id="fch1">FOOD CATEGORIES</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/FFC.png" style="height: 500px; width: 350px;" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/AFC.png" style="height: 500px; width: 350px;" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/MFC.png" style="height: 500px; width: 350px;" /></a>
</div>